<div class="container">
  <div class="top_image mx-auto">
    <div class="top_message">
      <h4>Welcome to 東西線Club！</h4>
      <p>
        西は東京の"中野"、東は千葉県の"西船橋"をつなぐ東西線<br>
        普段使っている人も、興味を持っている人も<br>
        オススメのラーメン屋さん、お寺などなど<br>
        東西線沿線の魅力をシェアするサイトです<br>
      <% if admin_signed_in? %>
      <% elsif user_signed_in? %>
      <% else %>
        ↓したからゲストログインもできます
      </p>
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn-primary guest_sign_in" %>
      <% end %>
    </div>
  </div>

</div>