<div class="container">
  <div class="sidebar">
    <p><%= link_to "人気投稿", popular_path %></p>
    <h4>駅一覧</h4>
    <table class="table col-lg-2">
      <thead class="table-active">
        <tr>
          <th>駅</th>
        </tr>
      </thead>

      <tbody>
        <% @stations.each do |station| %>
        <tr>
          <td>
            <%= link_to station_path(station.id) do %>
              <%= station.name %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>