/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.link{
  color: #000000;
}

li{
  list-style: none;
}

.notice{
  color:#FF0000;
}

.top_image{
  width: 70%;
  height:530px;
  background-image: url(MARIIMG_0232_TP_V4);
}

.top_message{
  background: rgba(255,255,255,0.5);
}

header{
  padding: 10px 0 0 0;

}

header .new_user_registration{
  margin-right: 20px;
}

.rounded-pill{
  height: 40px;
}

.logo{
  margin-left: 100px;
}

header h3{
  margin-top: 35px;
}

.top_message{
  padding-top: 1em;
  padding-left: 2em;
}

.top_message p{
  padding-left: 2em;
}

.guest_sign_in{
  margin-bottom: 20px;
}

.sidebar h5{
  padding-top: 20px;
}

.sidebar{
  background-color: #EEEEEE;
}

.title{
  margin-left: 20px;
}

.post{
  margin:10px 0 30px 0;
}

.station{
  font-size: 20px;
  display: inline-block;
}

.post_contents{
  margin-left: 30px;
  width: 400px;
  height:250px;
}

.show_post_contents{
  margin-left: 30px;
  width: 705px;
  height:250px;
}

.popular_message{
  overflow-wrap: break-word;
}

#error_explanation li{
  color: red;
}

.sign_up table{
  height:200px;
}

.sign_up h4{
  margin-top: 30px;
}

.sign_in table{
  height:150px;
}

.sign_in h4{
  margin-top: 30px;
}

.genre_name{
  margin-top: 5px;
}

.show_favorite{
  display: inline-block;
}

.comment{
  margin-bottom: 0;
}

.sidebar{
  margin-right: 30px;
}

.edit_btn, .destroy_btn{
  margin-right: 10px;
}