<div class="container sign_in">
  <h4>ログイン</h4>
  <%= form_with model: @user, url: user_session_path do |f| %>
  <table class="mx-auto">
    <tr>
      <td>email</td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <td>password</td>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "Log in" %></td>
    </tr>
  </table>
  <% end %>
</div>